<div class='row'>
  <div class='well'>
    <div class='span8 wrapped'>
      <strong>gemfile.name</strong>
      <br>
      <div class='margin'><%gemfile.description%></div>
    </div>
  </div>
</div>