<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href=<%=root_path%>>Gemfile Exchange</a>

     <ul class="nav">
      <li><%=link_to 'Applications', gemfiles_path%></li>
      <li><%=link_to 'Gems', gems_path%><li>
      <li><%=link_to 'Post a Gemfile', new_gemfile_path%></li>
    </ul>
  </div>

  

</div>